/* Site-wide styles */


* {
  box-sizing: border-box;
}
/* fonts */
@font-face {
  font-family: 'playlistscript';
  src: url('../CSS/fonts/playlist_script-webfont.woff2') format('woff2'),
       url('../CSS/fonts/playlist_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Montserrat';
  color: #fefefe;
  
}

h1 {
  font-family: 'playlistscript';
}

h2, h3, span {

  font-family: 'Julius Sans One';
}

p {
  font-family: 'Montserrat', sans-serif;
}


a {
  color: #3e5874;
}

.grid {
  display: -ms-grid;
  display: grid;
}

ul li {
  list-style: none;
}

li {
  list-style: none;
}

.col-6 {
  width: 50%;
}

.col-12 h1 {
  margin: 0;
}

.col-12 {
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Icons */
i.fas, i.far, i.fab {
  margin-right: 10px;
}

i.fas.fa-graduation-cap, i.fas.fa-briefcase, i.fas.fa-hands-helping {
  color: #b1e4e2;
  font-size: 4em;
  margin-top: 15px;
}

/* Banners Content */
/* Universal */
.banner {
  background-size: cover;
  background-position: center;  
  height: 100vh;
}
/* Contact Banner */
.main, .contact {
  background-image: url("images/bannerturquoise.png");
  display: flex;
  align-items: center;
  position: relative;
 
}
/* Main banner */
.dates {
  display: none;
}
.wellness {
  display: none;
}

.main.banner {
  justify-content: center;
  margin: 0;
  padding: 0;
}

.banner-content h1{
  font-size: 3em; 
  margin-bottom: .25em;
  font-family: 'playlistscript';
}

.banner-content {
  z-index: 10;
  text-align: center;
  color: #3e5874;
}
/* Nav section */
    
.nav {
  position: fixed;
  top: 0;
  right: 2%;
  z-index: 10;
  
}
.hover-nav {
  position: absolute;
  top: 25%;
  z-index: 10;
  position: fixed;
  background-color:#b1e4e2;
  left: 50%;
  font-family: 'Julius Sans One';

}


.hover-nav ul {
  padding: 10px;
  }
.hover-nav li {
  list-style: none;
  font-size: 1.5em;
  margin: 20px;
  text-align: left;

 }
  

/* About Me */

.inspiration {
  background-image: url("images/treesjill2.jpeg");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
    font-size: 1em;
  font-family: 'playlistscript';
  text-align: center;
}

.inspo-content h1 {
text-align: center;


}

.inspo-content p {
  font-family: 'playlistscript';
 
}
.my-story {
  margin-top: 10px;
}
.my-story h2 {
  width: 50%;
  background-color: black;
  opacity: .6;
  margin: 0 auto;
}
.my-story p {
  width: 100%;
  margin-bottom: 300px;
  background-color: black;
  opacity: .6; 
}

.profile {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;   
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    
}

/* Timeline*/
.timeline {
  position: relative;
  background-image: url("images/bannerturquoise.png");
  background-position: center;
  height: 95%;
  padding-top: 20px;
  
}

.timeline::before {
  content: '';
  background: #3e5874;
  width: 5px;
  height: 92%;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
}

.timeline-item {
  width: 100%;
  margin-bottom: 30px;
  overflow-x:hidden;
}


.timeline-item:nth-child(odd) .timeline-content {
  float: right;
  margin-top: -7%;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%; 
  border-radius: 4px;
  color: #3e5874;
  padding: 0 20px;
  margin-top: -7%;
  margin-left: 20px;
  text-align:right;
}

.timeline-item .timeline_img_icon .timeline-img {
  width: 30px;
  height: 30px;
  background: #b1e4e2;
   position: absolute;
  left: 50%; 
  margin-top: 25px;
  margin-left: -9px;
  z-index: 6;

}
.bullet-list li {
  list-style: disc;
  text-align: left;
 }

/* Modifications to timeline */

.timeline_img_icon {
display: flex;
justify-content: center;
}

i.left {
  margin-right: 25%;
}

i.right {
  margin-left: 25%;
}

i.fas.fa-bars {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  color: #3e5874;
}

.container-timeline {
  position: relative;
  width: 75%;
  left: 12%;
  background-color: #fefefe;
  border: 3px solid #3e5874;

}

.timeline h1, .work h1 {
  font-size: 3em;
  font-family: 'playlistscript';
  text-align: center;
  margin: 0;
  color: #3e5874;
}

/* Projects */

.work {
  background-color: #FEFEFE;
  
}
.work h1, .work h2 {
  color: #3e5874;
}

.work h2 {
  text-align: left;
}
.thumbnails {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.thumbnail {
  width: 100%;
  position: relative;
  
}

.thumbnail-img {
  width: 100%;
  position: relative;
  padding: 0 20px;
  height: auto;
  opacity: 1;
}

/* .thumbnail img:hover {
  opacity: .7;
} */
/* Overlay */
.overlay {
  position: absolute;
 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 opacity: 0;
  z-index: 2;
  cursor: pointer;
  transition: .5s linear;
  background-color:  #3e5874;
}

 .thumbnail:hover .overlay {
  opacity: 1;
}
.dropdown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    padding: 0 10px;
    color: #b1e4e2;

   
}

/* Skills */
.skills {
  background-color: #3e5874;
  display: block;
  text-align: center;
  height: auto;
  }
  .skills h1 {
    margin: 0;
    font-size: 3em;
  }

/* Animation boxes */
.box {
  background-color: #b1e4e2;
  /* width: 300px; */
  height: 25px;
  margin: 10px;
}

.box span {
  color: #3e5874;
}

.boxes .line {
  width: 330px;
  display: flex;
  flex-wrap: nowrap;
  margin: 10;
}

.extra-large {
  width: 80vw;
  margin-top: 40%;
  overflow-x: hidden;
}
.large {
  width: 330px;
}
.medium {
  width: 300px;
}
.small {
width: 250px;
}
.animation .extra-large {
  animation: widthextralarge 10s ease-in-out;
}
.animation .large {
  animation:  widthlarge 5s ease-in 2s infinite alternate;
}
.animation .medium {
 
 animation:widthmedium 5s ease-in 2s infinite alternate;
}
.animation .small {
 
  animation: widthsmall 5s ease-in 2s infinite alternate;
}
@keyframes widthlarge {
  from {width: 300px;}
  to {width: 60px;}
}

@keyframes widthmedium {
  from {width: 250px;}
  to {width: 60px;}
}

@keyframes widthsmall {
  from{width:200px;}
  to{width: 60px;}
}
@keyframes widthextralarge {
  from{width: 0px;}
  to{width: 80vw;}

}

/* Hobbies Section */
.hobbies ul {
  padding: 0;
}
.hobbies ul li:nth-child(odd){
  font-size: 1.5em;
  
}

.hobbies ul li {
  margin-bottom: 10px;

}

.hobbies {
 padding: 5% 0;
}


/* Contact Section */

ul.contact-details {
  padding: 0; 
}
.get-in-touch p {
  font-size: 1.25em;  
  margin-bottom: 10px;
  font-family: 'Julius Sans One';
}

.get-in-touch {
  text-align: center;
}

.contact {
  flex-direction: column;
  color: #3e5874;
  grid-template-columns: 100%;
}

.contact-details span {
  font-size: 1.5em;
}
.contact.grid.banner {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.profile, .get-in-touch {
  width: 100%;
}
.profile-pic {
  width: 75%;

}

/* Small */
@media only screen and (min-width: 500px){
  .profile-pic {
    width: 50%;
  }
}
/* Small */
@media only screen and (min-width: 550px) {
/* Main banner text */
  .wellness, .line-before {
    display: inline-block;
    margin-right: 10px;
  }
  .dates {
    display: block;
  }
  /* Skills */
  .skills {
    grid-template-columns: 50% 50%;
   text-align: center;
   display: grid;
   grid-template-rows: 25% 25% 25% 25%;
  }
 
 .skill-box, .hobbies {
   margin: 0 auto;
   grid-row-start: 2;
 }
 .hobbies ul li {
   margin: 5px;
 }
 
 .skills h1 {
  margin: 60px 20px 20px 20px;
 }
 
  /* Get in Touch Section */
  .contact.grid.banner {
  height: 300px;
  flex-direction: row;
  }

  .profile-pic {
   width: 50%;
    padding-top: 10%;
  }
  .get-in-touch {
    text-align: left;
  }

}
/* Small */
@media only screen and (min-width: 600px){
  .thumbnail-img {
    width: 100%;
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    /* filter: grayscale(80%); */
    /* opacity: .7;
    -webkit-transition: .4s linear;
    transition: .4s linear; */
    position: relative;

    height: auto;
    opacity: 1;

  }
}

  /* Medium */
  @media only screen and (min-width: 650px){
/* My story */
  .container-inspo h2 {
    background-color: transparent;
    opacity: 1;
    margin: 30px 0;
  }
  .container-inspo {
    display: flex;
    flex-grow: 1;
    align-items: center;
  
  }
  .inspiration {
    font-size: 1.5em;
    height: 100vh;
  }
 
  .my-story, .inspo-content {
    width: 50%;
  }
  .inspo-content h1 {
    padding-left: 10%;
  }
  .my-story {
    margin-top: 0;
  }
  .my-story p {
    margin: 0 auto;
    width: 75%;
  }
  .my-story h2 {
    background-color: none;
    width: 100%;
  }
  /* Skills & Hobbies */
  .skills {
    background-image: url('images/introbkgrnd.png');
    height: 100vh;
  }
  .skill-box, .hobbies {
    margin: 0 auto;
    grid-row-start: 1;
  }
  .hobbies {
    padding: 0;
  }
  
}

@media only screen and (min-width: 726px){
  /* Main Banner */
  .banner-content h1 {
    font-size: 7em;
  }
  .banner-content h2 {
    font-size: 1.5em;
  }
   /* Nav section medium-large screens */
   .hover-nav {
    left: 75%;
  }
 .main.banner {
   justify-content: flex-start;
   padding-left: 50px;
  
 }

}

/* medium */

@media screen and (max-width: 768px) {
  /* Timeline medium */
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    text-align: left;
    margin: 5px 0;
   
  }
  .timeline-item .timeline_img_icon .timeline-img {
    display: none;
  }
  .timeline_img_icon {
   display: none;
 }
  .timeline::before {
    display: none;
  }
.timeline-item {
  overflow:visible;
  margin-top: 20px;
}

}



@media only screen and (min-width: 1140px) {
  .thumbnails {
    grid-template-columns: 50% 50%;
  }
  .thumbnail-img {
      height: 300px;
  }

  .overlay {
  
    padding:0;
    margin: 0;
  }
}

